.jumbotron {
  text-align: center;
  background-color: rgba(222, 200, 0, 0.7);
  font-family: 'Monoton', cursive;
}

body {
  background-color: rgba(231, 230, 225, 0.7)
}

.container {
  text-align: center;
}

.form-group {
  text-align: center;
}

.container1 img {
  border-radius: 20px;
  height: 202px;
}
